<!DOCTYPE html>
<html lang="en">

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/style.css">




    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit</title>
</head>

<body>
    <h1>Edit Page</h1>
    <h2><a href="/toys">Back to Index</a></h2>
    <div class="input-field col s6">
        <form action="/toys/<%=toyID.id%>?_method=PUT" method="POST">

            name: <input type="text" name="name" value="<%=toyID.name%>" /><br />
            Add image: <input type="text" name="img" value="<%= toyID.img %>" /><br />
            description: <input type="text" name="description" value="<%= toyID.description %>" /><br />
            contact: <input type="text" name="contact" value="<%= toyID.contact %>" /><br />
            <input type="submit" name="" value="Submit Changes" />
        </form>
    </div>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>