<!DOCTYPE html>
<html lang="en">

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/style.css">


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Dog Toy Show Page</h1>
    <h3><%= toyID.name %></h3>
    <img src="<%= toyID.img %>">
    <h3><%= toyID.description %></h3>
    <h3><%= toyID.contact %></h3>
    <h2><a href="/toys">Back to Toy Index</a></h2>
    
<div class ="buttons">
    <a href="/toys/<%= toyID.id %>/edit" class="btn-floating btn-large cyan pulse"><i class="material-icons">edit</i></a>
    <form action="/toys/<%= toyID.id %>?_method=DELETE" method="POST">
    <button type="submit" class="btn-floating btn waves-effect waves-light red">


      <i class="material-icons">delete</i>
    </button>
  

       
    </form>
</div>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>


</html>